node_modules/
.DS_Store
build/
node_modules
.env
# Node.js
node_modules/

# Dependency directories
/dist/
/build/

# Vite
.vite/

# Tailwind CSS
postcss.config.js
tailwind.config.js

# MongoDB
.env

# Visual Studio Code
.vscode/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build files
/build/

# Docker
Dockerfile
docker-compose.yml

# Dependency lock files
yarn.lock
package-lock.json

# Mac-specific
.DS_Store
.AppleDouble
.LSOverride

# Windows-specific
Thumbs.db
ehthumbs.db

# IDE-specific files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
